<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushes</key>
	<array>
		<dict>
			<key>name</key>
			<string>basic brush</string>
			<key>price</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>medium brush</string>
			<key>price</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>advanced brush</string>
			<key>price</key>
			<integer>800</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>super brush</string>
			<key>price</key>
			<integer>1500</integer>
		</dict>
	</array>
	<key>sprays</key>
	<array>
		<dict>
			<key>name</key>
			<string>basic spray</string>
			<key>price</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>medium spray</string>
			<key>price</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>advanced spray</string>
			<key>price</key>
			<integer>800</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>super spray</string>
			<key>price</key>
			<real>1500</real>
		</dict>
	</array>
</dict>
</plist>
